[submodule "bonobo"]
	path = bonobo
	url = git@github.com:hartym/bonobo.git
	branch = develop
[submodule "bonobo-docker"]
	path = bonobo-docker
	url = git@github.com:hartym/bonobo-docker.git
	branch = master
[submodule "bonobo-sqlalchemy"]
	path = bonobo-sqlalchemy
	url = git@github.com:hartym/bonobo-sqlalchemy.git
	branch = master
[submodule "vendors/edgy-project"]
	path = vendors/edgy-project
	url = git@github.com:python-edgy/project.git
	branch = master
[submodule "vendors/edgy-event"]
	path = vendors/edgy-event
	url = git@github.com:python-edgy/event.git
	branch = master
