*$py.class
*,cover
*.egg
*.egg-info/
*.iml
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
.*.sw?
.Python
.cache
.coverage
.coverage.*
.eggs/
.env
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.python-version
.ropeproject
.scrapy
.spyderproject
.tox/
.webassets-cache
/.requirements.local.txt
/.virtualenvs
/bonobo*
/config.local.yml
/demos
/output/
/vendors/*
__pycache__/
build/
coverage.xml
dist/
docs/_build/
downloads/
htmlcov/
lib/
lib64/
pip-delete-this-directory.txt
pip-log.txt
sdist/
target/
var/
